# Oracle's Extract

### Import Libraries and Dependencies

In [623]:
import pandas as pd
import json
import difflib

### Configure Pandas Options

In [624]:
pd.set_option('display.max_columns', None)

### Convert JSON to CSV

In [625]:
with open('match_data.json') as json_file:
    data = json.load(json_file)

pd.json_normalize(data).to_csv('match_data.csv')

### Read Data

In [626]:
df = pd.read_csv('match_data.csv')
df.describe()

        Unnamed: 0
count  1771.000000
mean    885.000000
std     511.387981
min       0.000000
25%     442.500000
50%     885.000000
75%    1327.500000
max    1770.000000

### Data Columns

In [627]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771 entries, 0 to 1770
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          1771 non-null   int64
 1   team1.win                           1771 non-null   bool
 2   team1.composition.champion1         1771 non-null   object
 3   team1.composition.champion1_items   1771 non-null   object
 4   team1.composition.champion2         1771 non-null   object
 5   team1.composition.champion2_items   1771 non-null   object
 6   team1.composition.champion3         1771 non-null   object
 7   team1.composition.champion3_items   1771 non-null   object
 8   team1.composition.champion4         1771 non-null   object
 9   team1.composition.champion4_items   1771 non-null   object
 10  team1.composition.champion5         1771 non-null   object
 11  team1.composition.champion5_items   1771 non-null   object
 12  team2.win                           1771 non-null   bool
 13  team2.composition.champion6         1771 non-null   object
 14  team2.composition.champion6_items   1771 non-null   object
 15  team2.composition.champion7         1771 non-null   object
 16  team2.composition.champion7_items   1771 non-null   object
 17  team2.composition.champion8         1771 non-null   object
 18  team2.composition.champion8_items   1771 non-null   object
 19  team2.composition.champion9         1771 non-null   object
 20  team2.composition.champion9_items   1771 non-null   object
 21  team2.composition.champion10        1771 non-null   object
 22  team2.composition.champion10_items  1771 non-null   object
dtypes: bool(2), int64(1), object(20)
memory usage: 294.1+ KB

### Data Sample

In [628]:
df.head()

,Unnamed: 0,team1.win,team1.composition.champion1,team1.composition.champion1_items,team1.composition.champion2,team1.composition.champion2_items,team1.composition.champion3,team1.composition.champion3_items,team1.composition.champion4,team1.composition.champion4_items,team1.composition.champion5,team1.composition.champion5_items,team2.win,team2.composition.champion6,team2.composition.champion6_items,team2.composition.champion7,team2.composition.champion7_items,team2.composition.champion8,team2.composition.champion8_items,team2.composition.champion9,team2.composition.champion9_items,team2.composition.champion10,team2.composition.champion10_items
0,0,False,Blitzcrank,"[3190, 2055, 3860, 3076, 3047, 0, 3364]",Kaisa,"[3006, 2031, 6671, 6676, 3123, 3086, 3363]",Ryze,"[3040, 2420, 6656, 3020, 1029, 2055, 3363]",Sejuani,"[6662, 2031, 2055, 3047, 1029, 8001, 3364]",Gangplank,"[2033, 3078, 3047, 3123, 6695, 1028, 3340]",True,Sona,"[3158, 6617, 1052, 3853, 2055, 1004, 3364]",Draven,"[0, 0, 0, 0, 0, 0, 3363]",Kayle,"[3115, 3111, 0, 1055, 1028, 0, 3340]",RekSai,"[3111, 2031, 3814, 1028, 0, 6693, 3364]",Yone,"[2031, 3006, 3086, 1054, 6673, 1018, 3340]"
1,1,True,Seraphine,"[3158, 6617, 3853, 3114, 1052, 2055, 3364]",Jhin,"[6676, 3086, 2015, 3009, 6671, 0, 3363]",Cassiopeia,"[3157, 6653, 4630, 0, 1082, 3070, 3340]",LeeSin,"[2031, 6630, 2055, 3047, 3071, 3133, 3340]",Nasus,"[1054, 3193, 3047, 6632, 1029, 1029, 3340]",False,Rakan,"[3860, 2055, 2065, 3158, 3916, 4642, 3364]",Caitlyn,"[1055, 6691, 6676, 3006, 3086, 1042, 3363]",Zed,"[6692, 6694, 6695, 3158, 3814, 1036, 3364]",Sejuani,"[3047, 3001, 3082, 0, 6662, 0, 3364]",Darius,"[3078, 2033, 3071, 3047, 3123, 0, 3363]"
2,2,False,Lulu,"[2055, 3158, 3860, 3011, 3114, 2065, 3364]",Tristana,"[3046, 3026, 1018, 3006, 6672, 3091, 3363]",TwistedFate,"[3157, 3094, 6656, 3041, 3158, 0, 3363]",Sejuani,"[3109, 3067, 2055, 3047, 3001, 6662, 3364]",Darius,"[3193, 3082, 1057, 3047, 3053, 3078, 3363]",True,Swain,"[3853, 3157, 4637, 6653, 3020, 0, 3364]",Syndra,"[3020, 1058, 3135, 0, 6655, 4628, 3363]",Akshan,"[6672, 3091, 1037, 3111, 1053, 1043, 3363]",LeeSin,"[3026, 2422, 3814, 6694, 6692, 0, 3340]",DrMundo,"[3143, 3076, 3047, 3065, 3068, 1028, 3364]"
3,3,False,Morgana,"[3158, 2065, 3157, 3853, 2055, 3011, 3364]",Caitlyn,"[3035, 6671, 1018, 3006, 3031, 3095, 3363]",Sylas,"[3158, 3157, 6656, 4629, 1056, 1058, 3364]",Evelynn,"[3152, 1058, 3041, 3089, 3135, 3020, 3363]",Rengar,"[3047, 3071, 6630, 1054, 3077, 1011, 3364]",True,Nautilus,"[3860, 2031, 3190, 3047, 3076, 0, 3364]",Tristana,"[1038, 6672, 2055, 1037, 3006, 3046, 3363]",Jayce,"[3042, 3158, 1036, 6692, 6609, 3134, 3363]",Viego,"[3111, 3091, 6632, 3211, 3067, 0, 3364]",Kennen,"[3089, 0, 3152, 3020, 3135, 3191, 3363]"
4,4,False,Rell,"[8001, 3860, 0, 3047, 3105, 3067, 3364]",Aphelios,"[3031, 6673, 3006, 6676, 1036, 2055, 3363]",Sylas,"[6656, 2033, 3157, 1058, 3158, 3082, 3363]",XinZhao,"[6630, 3143, 3044, 3047, 0, 6333, 3364]",Graves,"[3508, 6673, 3031, 3111, 1055, 1018, 3363]",True,Trundle,"[8001, 3857, 2403, 1033, 3047, 3067, 3364]",Jhin,"[6671, 3031, 1018, 3009, 6676, 1055, 3363]",Lucian,"[6671, 6694, 2055, 3133, 3006, 3123, 3363]",Evelynn,"[3152, 3089, 3135, 1082, 3020, 0, 3340]",Malphite,"[3047, 2033, 3082, 3075, 3067, 3068, 3340]"

### Temp Composition Sample

In [629]:
champion = 'Irelia'
ally_team = ['Nami','Lucian', 'Syndra', 'Nidalee', 'Irelia']
enemy_team = ['Leona', 'Jhin', 'Orianna', 'JarvanIV', 'Camille']

### Filter Winning Matches

In [630]:
team1_columns = df.columns[1:12]
team2_columns = df.columns[12:]
teams_columns = team1_columns[1:].append(team2_columns[1:])

#### Filter By Champion Presence in Team 1 then by Team 1 Winning Status

In [631]:
team1_df = (df[team1_columns] == champion) 
winning_team1_df = df.iloc[team1_df.loc[team1_df.sum(axis=1) == 1].index.tolist()]
winning_team1_df = winning_team1_df[winning_team1_df['team1.win'] == True]
filtered_teams_list = winning_team1_df.index.tolist()

#### Filter By Champion Presence in Team 2 then by Team 2 Winning Status

In [632]:
team2_df = (df[team2_columns] == champion) 
winning_team2_df = df.iloc[team2_df.loc[team2_df.sum(axis=1) == 1].index.tolist()]
winning_team2_df = winning_team2_df[winning_team2_df['team2.win'] == True]
filtered_teams_list += winning_team2_df.index.tolist()

#### Filter Main DataFrame by acquired indexes that match the criteria

In [633]:
filtered_teams_list = list(set(filtered_teams_list))
df = df.iloc[filtered_teams_list]
df = df.drop('Unnamed: 0', 1)

/tmp/ipykernel_18044/2862047535.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('Unnamed: 0', 1)

### Most commonly bought (winning) items

#### Collect Items bought by champion in winning cases

In [634]:
most_common_list = []

for col in df[teams_columns]:
    for i, row_value in df[col].iteritems():
        if df[col][i] == champion:
            most_common_list.append(eval(df[col+'_items'][i]))

#### Create a dataframe from items and get the most common items from it

In [635]:
most_common_df = pd.DataFrame(most_common_list, columns =['Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5', 'Item 6', 'Vision Item'], dtype= int) 
most_common_bought = dict()
for col in most_common_df.columns:
    if most_common_df[col].mode()[0] == 0:
        most_common_bought[f'Most common {col}'] = most_common_df[col].value_counts().index[1]
    else:
        most_common_bought[f'Most common {col}'] = most_common_df[col].mode()[0]    
most_common_bought

{'Most common Item 1': 1055,
 'Most common Item 2': 3153,
 'Most common Item 3': 3153,
 'Most common Item 4': 3047,
 'Most common Item 5': 3047,
 'Most common Item 6': 1036,
 'Most common Vision Item': 3340}

### Filter Relevant Compositions

#### Set Tolerance Threshold

In [636]:
ally_tolerance = 0.4
enemy_tolerance = 0.2

#### Extract compositions into separate lists

In [637]:
ally_list = []
enemy_list = []

for col in range(len(teams_columns)):
    if col < len(teams_columns)//2:
        ally_list.append(winning_team1_df[winning_team1_df[teams_columns].columns[col]].tolist())
    else:
        enemy_list.append(winning_team1_df[winning_team1_df[teams_columns].columns[col]].tolist())

for col in range(len(teams_columns)):
    if col < len(teams_columns)//2:
        enemy_list.append(winning_team2_df[winning_team2_df[teams_columns].columns[col]].tolist())
    else:
        ally_list.append(winning_team2_df[winning_team2_df[teams_columns].columns[col]].tolist())

#### Contain each match teams in a list

In [638]:
ally_comp = []
enemy_comp = []

for value in range(len(enemy_list[0])):
    ally_comp.append([])
    enemy_comp.append([])

    for row in range(len(ally_list)//2):
        ally_comp[value].append(ally_list[row][value])
        enemy_comp[value].append(enemy_list[row][value])

#### Compare present compositions similarity with input composition

In [644]:
relevant_comopsitions = []

for comp in range(len(ally_comp)):
    ally_similarity = difflib.SequenceMatcher(None, ally_team, ally_comp[comp][::2]).ratio()
    enemy_similarity = difflib.SequenceMatcher(None, enemy_team, enemy_comp[comp][::2]).ratio()
    # print(ally_similarity, enemy_similarity)
    if ally_similarity < ally_tolerance or enemy_similarity < enemy_tolerance:
        continue
    
    relevant_comopsitions.append([])
    relevant_comopsitions[-1] = ally_comp[comp] + enemy_comp[comp]

[['Leona',
  '[0, 3859, 2031, 3067, 3117, 1029, 3364]',
  'Irelia',
  '[3153, 1083, 0, 1055, 1001, 0, 3340]',
  'Lucian',
  '[1055, 3133, 6671, 3057, 3006, 0, 3340]',
  'Nidalee',
  '[3158, 2031, 4636, 1082, 0, 0, 3364]',
  'Karma',
  '[6653, 3158, 2055, 0, 2033, 0, 3340]',
  'Thresh',
  '[3190, 3117, 3857, 0, 1028, 0, 3364]',
  'Twitch',
  '[3006, 6676, 0, 6672, 0, 0, 3340]',
  'Annie',
  '[1056, 6655, 1082, 2031, 3020, 1058, 3363]',
  'LeeSin',
  '[2055, 3814, 6692, 3158, 0, 1036, 3340]',
  'Camille',
  '[1054, 3078, 3077, 2055, 1036, 3111, 3364]']]