# Oracle's Extract

### Import Libraries and Dependencies

In [392]:
import pandas as pd
import json

### Configure Pandas Options

In [393]:
pd.set_option('display.max_columns', None)

### Convert JSON to CSV

In [394]:
with open('match_data.json') as json_file:
    data = json.load(json_file)

pd.json_normalize(data).to_csv('match_data.csv')

### Read Data

In [395]:
df = pd.read_csv('match_data.csv')
df.describe()

        Unnamed: 0
count  1771.000000
mean    885.000000
std     511.387981
min       0.000000
25%     442.500000
50%     885.000000
75%    1327.500000
max    1770.000000

### Data Columns

In [396]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771 entries, 0 to 1770
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          1771 non-null   int64
 1   team1.win                           1771 non-null   bool
 2   team1.composition.champion1         1771 non-null   object
 3   team1.composition.champion1_items   1771 non-null   object
 4   team1.composition.champion2         1771 non-null   object
 5   team1.composition.champion2_items   1771 non-null   object
 6   team1.composition.champion3         1771 non-null   object
 7   team1.composition.champion3_items   1771 non-null   object
 8   team1.composition.champion4         1771 non-null   object
 9   team1.composition.champion4_items   1771 non-null   object
 10  team1.composition.champion5         1771 non-null   object
 11  team1.composition.champion5_items   1771 non-null   object
 12  team2.win                           1771 non-null   bool
 13  team2.composition.champion6         1771 non-null   object
 14  team2.composition.champion6_items   1771 non-null   object
 15  team2.composition.champion7         1771 non-null   object
 16  team2.composition.champion7_items   1771 non-null   object
 17  team2.composition.champion8         1771 non-null   object
 18  team2.composition.champion8_items   1771 non-null   object
 19  team2.composition.champion9         1771 non-null   object
 20  team2.composition.champion9_items   1771 non-null   object
 21  team2.composition.champion10        1771 non-null   object
 22  team2.composition.champion10_items  1771 non-null   object
dtypes: bool(2), int64(1), object(20)
memory usage: 294.1+ KB

### Data Sample

In [397]:
df.head()

,Unnamed: 0,team1.win,team1.composition.champion1,team1.composition.champion1_items,team1.composition.champion2,team1.composition.champion2_items,team1.composition.champion3,team1.composition.champion3_items,team1.composition.champion4,team1.composition.champion4_items,team1.composition.champion5,team1.composition.champion5_items,team2.win,team2.composition.champion6,team2.composition.champion6_items,team2.composition.champion7,team2.composition.champion7_items,team2.composition.champion8,team2.composition.champion8_items,team2.composition.champion9,team2.composition.champion9_items,team2.composition.champion10,team2.composition.champion10_items
0,0,False,Blitzcrank,"[3190, 2055, 3860, 3076, 3047, 0, 3364]",Kaisa,"[3006, 2031, 6671, 6676, 3123, 3086, 3363]",Ryze,"[3040, 2420, 6656, 3020, 1029, 2055, 3363]",Sejuani,"[6662, 2031, 2055, 3047, 1029, 8001, 3364]",Gangplank,"[2033, 3078, 3047, 3123, 6695, 1028, 3340]",True,Sona,"[3158, 6617, 1052, 3853, 2055, 1004, 3364]",Draven,"[0, 0, 0, 0, 0, 0, 3363]",Kayle,"[3115, 3111, 0, 1055, 1028, 0, 3340]",RekSai,"[3111, 2031, 3814, 1028, 0, 6693, 3364]",Yone,"[2031, 3006, 3086, 1054, 6673, 1018, 3340]"
1,1,True,Seraphine,"[3158, 6617, 3853, 3114, 1052, 2055, 3364]",Jhin,"[6676, 3086, 2015, 3009, 6671, 0, 3363]",Cassiopeia,"[3157, 6653, 4630, 0, 1082, 3070, 3340]",LeeSin,"[2031, 6630, 2055, 3047, 3071, 3133, 3340]",Nasus,"[1054, 3193, 3047, 6632, 1029, 1029, 3340]",False,Rakan,"[3860, 2055, 2065, 3158, 3916, 4642, 3364]",Caitlyn,"[1055, 6691, 6676, 3006, 3086, 1042, 3363]",Zed,"[6692, 6694, 6695, 3158, 3814, 1036, 3364]",Sejuani,"[3047, 3001, 3082, 0, 6662, 0, 3364]",Darius,"[3078, 2033, 3071, 3047, 3123, 0, 3363]"
2,2,False,Lulu,"[2055, 3158, 3860, 3011, 3114, 2065, 3364]",Tristana,"[3046, 3026, 1018, 3006, 6672, 3091, 3363]",TwistedFate,"[3157, 3094, 6656, 3041, 3158, 0, 3363]",Sejuani,"[3109, 3067, 2055, 3047, 3001, 6662, 3364]",Darius,"[3193, 3082, 1057, 3047, 3053, 3078, 3363]",True,Swain,"[3853, 3157, 4637, 6653, 3020, 0, 3364]",Syndra,"[3020, 1058, 3135, 0, 6655, 4628, 3363]",Akshan,"[6672, 3091, 1037, 3111, 1053, 1043, 3363]",LeeSin,"[3026, 2422, 3814, 6694, 6692, 0, 3340]",DrMundo,"[3143, 3076, 3047, 3065, 3068, 1028, 3364]"
3,3,False,Morgana,"[3158, 2065, 3157, 3853, 2055, 3011, 3364]",Caitlyn,"[3035, 6671, 1018, 3006, 3031, 3095, 3363]",Sylas,"[3158, 3157, 6656, 4629, 1056, 1058, 3364]",Evelynn,"[3152, 1058, 3041, 3089, 3135, 3020, 3363]",Rengar,"[3047, 3071, 6630, 1054, 3077, 1011, 3364]",True,Nautilus,"[3860, 2031, 3190, 3047, 3076, 0, 3364]",Tristana,"[1038, 6672, 2055, 1037, 3006, 3046, 3363]",Jayce,"[3042, 3158, 1036, 6692, 6609, 3134, 3363]",Viego,"[3111, 3091, 6632, 3211, 3067, 0, 3364]",Kennen,"[3089, 0, 3152, 3020, 3135, 3191, 3363]"
4,4,False,Rell,"[8001, 3860, 0, 3047, 3105, 3067, 3364]",Aphelios,"[3031, 6673, 3006, 6676, 1036, 2055, 3363]",Sylas,"[6656, 2033, 3157, 1058, 3158, 3082, 3363]",XinZhao,"[6630, 3143, 3044, 3047, 0, 6333, 3364]",Graves,"[3508, 6673, 3031, 3111, 1055, 1018, 3363]",True,Trundle,"[8001, 3857, 2403, 1033, 3047, 3067, 3364]",Jhin,"[6671, 3031, 1018, 3009, 6676, 1055, 3363]",Lucian,"[6671, 6694, 2055, 3133, 3006, 3123, 3363]",Evelynn,"[3152, 3089, 3135, 1082, 3020, 0, 3340]",Malphite,"[3047, 2033, 3082, 3075, 3067, 3068, 3340]"

### Temp Composition Sample

In [398]:
champion = 'Irelia'
ally_team = ['Nami','Lucian', 'Syndra', 'Nidalee', 'Irelia']
enemy_team = ['Leona', 'Jhin', 'Orianna', 'JarvanIV', 'Camille']

### Filter Winning Matches

In [399]:
team1_columns = df.columns[1:11]
team2_columns = df.columns[12:]
teams_columns = team1_columns[1:] .append(team1_columns[1:])
print(teams_columns)

Index(['team1.composition.champion1', 'team1.composition.champion1_items',
       'team1.composition.champion2', 'team1.composition.champion2_items',
       'team1.composition.champion3', 'team1.composition.champion3_items',
       'team1.composition.champion4', 'team1.composition.champion4_items',
       'team1.composition.champion5', 'team1.composition.champion1',
       'team1.composition.champion1_items', 'team1.composition.champion2',
       'team1.composition.champion2_items', 'team1.composition.champion3',
       'team1.composition.champion3_items', 'team1.composition.champion4',
       'team1.composition.champion4_items', 'team1.composition.champion5'],
      dtype='object')

#### Filter By Champion Presence in Team 1 then by Team 1 Winning Status

In [400]:
team1_df = (df[team1_columns] == champion) 
winning_team1_df = df.iloc[team1_df.loc[team1_df.sum(axis=1) == 1].index.tolist()]
winning_team1_df = winning_team1_df[winning_team1_df['team1.win'] == True]
filtered_teams_list = winning_team1_df.index.tolist()

#### Filter By Champion Presence in Team 2 then by Team 2 Winning Status

In [401]:
team2_df = (df[team2_columns] == champion) 
winning_team2_df = df.iloc[team2_df.loc[team2_df.sum(axis=1) == 1].index.tolist()]
winning_team2_df = winning_team2_df[winning_team2_df['team2.win'] == True]
filtered_teams_list += winning_team2_df.index.tolist()

#### Filter Main DataFrame by acquired indexes that match the criteria

In [402]:
filtered_teams_list = list(set(filtered_teams_list))
df = df.iloc[filtered_teams_list]
df = df.drop('Unnamed: 0', 1)
df

/tmp/ipykernel_12950/3682890487.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('Unnamed: 0', 1)

,team1.win,team1.composition.champion1,team1.composition.champion1_items,team1.composition.champion2,team1.composition.champion2_items,team1.composition.champion3,team1.composition.champion3_items,team1.composition.champion4,team1.composition.champion4_items,team1.composition.champion5,team1.composition.champion5_items,team2.win,team2.composition.champion6,team2.composition.champion6_items,team2.composition.champion7,team2.composition.champion7_items,team2.composition.champion8,team2.composition.champion8_items,team2.composition.champion9,team2.composition.champion9_items,team2.composition.champion10,team2.composition.champion10_items
1538,False,Nami,"[3853, 3158, 3107, 4642, 6617, 3916, 3364]",Caitlyn,"[3026, 0, 3006, 3033, 6672, 6676, 3363]",Corki,"[3042, 3086, 6673, 3047, 3508, 2055, 3363]",Graves,"[6673, 3086, 3036, 3123, 3047, 3046, 3364]",Gnar,"[1011, 6631, 3053, 1055, 3076, 3047, 3340]",True,Rakan,"[2065, 3050, 2055, 3860, 3067, 3158, 3364]",Zed,"[6693, 3158, 3036, 6676, 3134, 0, 3364]",Kaisa,"[6671, 3006, 6676, 3086, 1055, 0, 3363]",Nunu,"[1011, 2055, 3143, 3047, 3076, 6662, 3364]",Irelia,"[1031, 6631, 3047, 3153, 3053, 6609, 3340]"
518,False,Sett,"[6631, 3857, 2055, 3009, 3053, 0, 3364]",Tristana,"[0, 3006, 6671, 3095, 3033, 2015, 3363]",Ryze,"[3110, 6656, 3157, 3158, 3040, 0, 3363]",Hecarim,"[3076, 6632, 2055, 3053, 3158, 1011, 3364]",Viego,"[3153, 3044, 6632, 3047, 2055, 3123, 3340]",True,Senna,"[3009, 3864, 6632, 3133, 3070, 3123, 3364]",Ezreal,"[6632, 3042, 3123, 1053, 3158, 0, 3340]",Shen,"[3068, 3067, 3076, 3211, 3047, 0, 3363]",Ekko,"[3157, 3152, 2055, 3057, 3020, 1026, 3364]",Irelia,"[3047, 3153, 3124, 6673, 3026, 1036, 3363]"
1542,False,Pyke,"[2055, 3857, 6691, 3179, 3117, 3814, 3364]",Kaisa,"[6671, 6676, 3085, 1038, 1037, 3006, 3363]",Gnar,"[1055, 6631, 3053, 3076, 3105, 3047, 3340]",Khazix,"[6693, 3814, 3123, 3077, 3111, 1036, 3364]",Ekko,"[6656, 3157, 3158, 3108, 3067, 1052, 3363]",True,Janna,"[3853, 6616, 2055, 3158, 6617, 0, 3364]",Xayah,"[6671, 1038, 3508, 1055, 3006, 0, 3363]",Irelia,"[3047, 3153, 6673, 2033, 2421, 6333, 3340]",FiddleSticks,"[1058, 3157, 3152, 3020, 1052, 0, 3330]",Yasuo,"[1055, 3006, 6673, 3072, 3123, 0, 3363]"
1036,True,Karma,"[2065, 3222, 3853, 3158, 0, 4642, 3364]",Ezreal,"[1055, 6632, 3042, 6694, 3158, 0, 3363]",Irelia,"[3026, 6630, 1011, 3153, 3053, 3111, 3363]",FiddleSticks,"[3152, 3157, 3020, 0, 3135, 0, 3330]",Camille,"[1028, 3181, 6632, 0, 3047, 3074, 3364]",False,Jhin,"[1055, 6676, 6671, 3094, 1038, 3009, 3363]",Thresh,"[3190, 3857, 3107, 0, 3117, 3024, 3364]",Lissandra,"[3165, 6653, 3157, 2055, 1082, 3158, 3364]",LeeSin,"[6630, 3053, 1038, 3071, 3111, 1031, 3340]",Shen,"[1054, 3068, 3075, 0, 3047, 0, 3340]"
1041,False,Pyke,"[3857, 3179, 6691, 3134, 2055, 3117, 3364]",Jhin,"[6676, 3094, 6671, 6695, 3095, 3009, 3363]",Zed,"[3814, 6693, 3179, 3123, 6694, 3158, 3364]",MasterYi,"[3006, 3026, 6691, 3508, 3036, 6676, 3364]",Aatrox,"[6609, 3047, 1036, 6630, 3053, 2420, 3340]",True,Blitzcrank,"[3190, 3117, 3075, 3860, 3082, 3024, 3364]",Syndra,"[6655, 3157, 1028, 3916, 3040, 3047, 3363]",Irelia,"[3153, 6630, 6333, 3053, 6609, 3047, 3364]",Viego,"[3075, 3143, 0, 3047, 3044, 6632, 3364]",Kennen,"[3089, 3152, 3157, 3020, 3916, 3135, 3340]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,True,Pyke,"[3857, 3117, 6691, 3179, 3134, 2055, 3364]",Kaisa,"[3115, 6671, 6676, 3006, 0, 0, 3363]",Zoe,"[3020, 4628, 6655, 1052, 1056, 1082, 3363]",Sejuani,"[3075, 2031, 3047, 0, 3068, 0, 3364]",Irelia,"[1055, 3153, 6673, 3111, 1036, 2055, 3363]",False,Karma,"[3860, 6617, 3158, 3011, 1004, 0, 3364]",Jinx,"[6672, 1037, 0, 3094, 1038, 3006, 3363]",Orianna,"[3111, 2033, 0, 6655, 3040, 1058, 3363]",Akali,"[1082, 4633, 2420, 3020, 3100, 3135, 3363]",XinZhao,"[6662, 0, 3158, 3742, 3042, 0, 3364]"
1010,True,Zilean,"[2065, 3158, 3109, 3853, 2055, 3067, 3364]",Akshan,"[3006, 3026, 6671, 6676, 6695, 1018, 3363]",Zoe,"[3135, 3089, 3157, 6655, 0, 3020, 3364]",Skarner,"[8001, 3075, 3143, 3047, 3068, 3133, 3364]",Irelia,"[3153, 3053, 6333, 6630, 3143, 3047, 3340]",False,Bard,"[2065, 3853, 3107, 2055, 3117, 3011, 3364]",Aphelios,"[6673, 3046, 3036, 3026, 3031, 3085, 3363]",Zed,"[6691, 6694, 3814, 6695, 3158, 1036, 3364]",Ekko,"[3152, 3157, 1082, 3020, 1052, 3100, 3364]",Gnar,"[6630, 0, 3076, 3047, 1057, 3053, 3364]"
498,False,Karma,"[3853, 2065, 0, 4642, 3916, 3158, 3364]",Aphelios,"[3085, 6672, 3123, 3006, 0, 0, 3363]",Ahri,"[1056, 1028, 3802, 3158, 1082, 0, 3340]",Graves,"[6673, 2031, 3123, 3047, 2055, 0, 3364]",Malphite,"[1054, 3047, 6660, 3075, 1029, 2055, 3340]",True,Rakan,"[1028, 3158, 2055, 3859, 2065, 0, 3364]",Irelia,"[2033, 3153, 2055, 3047, 0, 0, 3340]",Vladimir,"[3108, 3145, 3067, 1082, 1052, 3158, 3364]",LeeSin,"[2031, 1028, 6630, 2422, 1036, 1037, 3340]",Xayah,"[1055, 6671, 1001, 2003, 3134, 0, 3340]"
504,False,Sona,"[3853, 6617, 2055, 3158, 3011, 0, 3364]",Ezreal,"[1055, 3158, 3110, 6632, 3035, 3042, 3363]",Talon,"[6695, 6693, 3158, 3042, 3035, 3133, 3364]",Kayn,"[3123, 3133, 3047, 1037, 3071, 6630, 3364]",Kennen,"[0, 3157, 3152, 3020, 3165, 1058, 3340]",True,Lulu,"[3860, 2065, 2055, 3114, 3158, 3067, 3364]",Vladimir,"[3152, 3158, 4629, 1082, 3916, 3135, 3363]",Irelia,"[3053, 3047, 3153, 6632, 1036, 0, 3363]",XinZhao,"[3508, 6630, 3053, 3047, 1029, 2055, 3364]",DrMundo,"[1054, 6662, 8001, 3076, 3047, 1011, 3340]"
511,True,Janna,"[3853, 2065, 3009, 1004, 3916, 2055, 3364]",Tristana,"[1036, 3086, 6672, 0, 3006, 1055, 3363]",Ryze,"[3040, 6656, 2031, 3067, 1052, 3158, 3363]",Skarner,"[6664, 2031, 0, 3742, 0, 3158, 3364]",Irelia,"[1055, 3153, 6632, 3111, 2055, 0, 3340]",False,Karma,"[3853, 6617, 2055, 3916, 3158, 1004, 3364]",Ezreal,"[3035, 3042, 3158, 6632, 0, 0, 3363]",Katarina,"[1082, 3115, 3152, 3020, 4630, 2031, 3364]",LeeSin,"[2031, 3071, 6630, 1031, 0, 3158, 3340]",Malphite,"[3082, 3047, 2033, 6662, 3075, 1029, 3340]"

### Most commonly bought (winning) items

#### Collect Items bought by champion in winning cases

In [440]:
most_common_list = []

for col in df[teams_columns]:
    for i, row_value in df[col].iteritems():
        if df[col][i] == champion:
            most_common_list.append(eval(df[col+'_items'][i]))

#### Create a dataframe from items and get the most common items from it

In [487]:
most_common_df = pd.DataFrame(most_common_list, columns =['Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5', 'Item 6', 'Vision Item'], dtype= int) 
most_common_bought = dict()
for col in most_common_df.columns:
    if most_common_df[col].value_counts().index[0] == 0:
        most_common_bought[f'Most common {col}'] = most_common_df[col].value_counts().index[1]
    else:
        most_common_bought[f'Most common {col}'] = most_common_df[col].value_counts().index[0]    
most_common_bought

3153
2033
3047
3111
3111
3047
3363